{% extends 'base.html' %}
{% load i18n %}
{% block title %}activity stream{% endblock title %}

{% block content %}
  <h1 class="title">{% trans "Activity Stream" %}</h1>

  <div class="box">
    <ul>
      {% for action in actions %}
        <li>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                {% if action.actor.profile.avatar %}
                  <img src="{{ action.actor.profile.avatar.url }}" alt="{{ action.actor.username }}'s avatar">
                {% else %}
                  <span class="icon is-medium">
                    <i class="fas fa-user fa-2x"></i>
                  </span>
                {% endif %}
              </figure>
            </div>
            <div class="media-content">
              <p>
                <strong>{{ action.actor }}</strong> {{ action.verb }} <em>{{ action.target }}</em> {{ action.timesince }} {% trans "ago" %}
                {% if action.target and action.target.category %}
                {% trans "in" %} <a href="{% url 'list_prompts' action.target.category.id %}">{{ action.target.category.name }}</a>
                {% endif %}
              </p><hr />
            </div>
          </div>
        </li>
      {% empty %}
        <li>{% trans "No recent activity." %}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
