<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidura</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <style>
      body {
        font-family: 'Poppins', sans-serif;
      }

      .title {
        font-size: 1rem;
      }

      .logo {
        font-size: 1.5rem;
      }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'list_categories' %}">
                    <strong class="logo">Vidura</strong>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'list_categories' %}">
                        Categories
                    </a>
                </div>
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'logout' %}">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>
