{% extends 'base.html' %}
{% load i18n %}
{% block title %}editor{% endblock title %}

{% block content %}
<style>
  .textarea {
    background-color: #f2f2f2
  }

  .option {
    font-weight: 500;
  }

  .sensitive-info-banner {
    color: midnightblue;
    font-size: 500;
  }

  .select-options {
    font-family: 'Poppins', sans-serif;
  }
</style>
{% if error_message %}
<span class="mb-3 tag is-danger is-light is-medium">{{ error_message }}</span>
{% endif %}
<form method="post">
  {% csrf_token %}
  <div class="field">
    <div class="columns">
      <div class="column is-one-quarter">
        <label class="label">{% trans "Prompt Editor" %}</label>
      </div>
      <div class="column">
        <p class="sensitive-info-banner">({% trans "Important: Please do not enter sensitive information in Vidura or in ChatGPT" %})</p>
      </div>
    </div>
    <div class="control">
      <textarea placeholder="{% trans 'Add your text here...' %}" class="textarea" name="prompt_text" rows="10" required></textarea>
    </div>
  </div>
  <div class="field">
    <label class="label">{% trans "Category" %}</label>
    <div class="control">
      <div>
        <select class="select-options" name="category" required>
          <option value="">{% trans "Select a category" %}</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">{% trans "Is Community Prompt ?" %}</label>
    <div class="control">
      <div>
        <select class="select-options" name="is-public-prompt">
          <option value="yes">{% trans "Yes" %}</option>
          <option value="no" selected>{% trans "No" %}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">{% trans "Labels" %}</label>
    <div class="control">
      <div>
        <select name="labels" multiple>
          {% for label in labels %}
          <option value="{{ label.id }}">{{ label.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button">{% trans "Save" %}</button>
      <button class="button cancel-btn"><a href="{% url 'list_categories' %}">{% trans "Cancel" %}</a></button>
    </div>
  </div>
</form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var sl = $('select').selectize({
      plugins: ["clear_button"]
    });
    var control = sl[0].selectize;
    {% if selected_category %}
    control.setValue({{ selected_category }});
  {% endif %}
    });
</script>
{% endblock %}